/*------------------------------------------------*/
/*------------------------------------------------*/
/*                                                */
/*           CSS elrements defined by:             */
/*               Samantha Patrick                 */
/*               madeofquartz.com                 */
/*                @ madeofquartz                  */
/*                                                */
/*------------------------------------------------*/
/*------------------------------------------------*/

/* Width of elrements */
.max { width: 100%; }
.min90 { width: 90%; }
.min80 { width: 80%; }
.min70 { width: 70%; }
.min60 { width: 60%; }
.min50 { width: 50%; }
.min40 { width: 40%; }
.min30 { width: 30%; }
.min20 { width: 20%; }
.min10 { width: 10%; }

/* Display As... */
.block { display: block; }

/* Clear DIVs */
.clear { float: clear; }

/* Margin */
.margin-center { margin: 0 auto; }
.margin05 { margin: 0.5rem; }
.margin-top05 { margin-top: 0.5rem; }
.margin-left05 { margin-left: 0.5rem; }
.margin-right05 { margin-right: 0.5rem; }
.margin-bottom05 { margin-bottom: 0.5rem; }

.margin1 { margin: 1rem;}
.margin-top1 { margin-top: 1rem; }
.margin-left1 { margin-left: 1rem; }
.margin-right1 { margin-right: 1rem; }
.margin-bottom1 { margin-bottom: 1rem;}

.margin2 { margin: 2rem; }
.margin-top2 { margin-top: 2rem; }
.margin-left2 { margin-left: 2rem; }
.margin-right2 { margin-right: 2rem; }
.margin-bottom2 { margin-bottom: 2rem; }

.margin3 { margin: 3rem; }
.margin-top3 { margin-top: 3rem; }
.margin-left3 { margin-left: 3rem; }
.margin-right3 { margin-right: 3rem; }
.margin-bottom3 { margin-bottom: 3rem; }

.margin4 { margin: 4rem; }
.margin-top4 { margin-top: 4rem; }
.margin-left4 { margin-left: 4rem; }
.margin-right4 { margin-right: 4rem; }
.margin-bottom4 { margin-bottom: 4rem; }

.margin5 { margin: 5rem; }
.margin-top5 { margin-top: 5rem; }
.margin-left5 { margin-left: 5rem; }
.margin-right5 { margin-right: 5rem; }
.margin-bottom5 { margin-bottom: 5rem; }

.margin6 { margin: 6rem; }
.margin-top6 { margin-top: 6rem; }
.margin-left6 { margin-left: 6rem; }
.margin-right6 { margin-right: 6rem; }
.margin-bottom6 { margin-bottom: 6rem; }

/* Padding */
.padding025 { padding: 0.25rem; }
.padding-top025 { padding-top: 0.25rem; }
.padding-left025 { padding-left: 0.25rem; }
.padding-right025 { padding-right: 0.25rem; }
.padding-bottom025 { padding-bottom: 0.25rem; }

.padding050 { padding: 0.5rem; }
.padding-top050 { padding-top: 0.5rem; }
.padding-left050 { padding-left: 0.5rem; }
.padding-right050 { padding-right: 0.5rem; }
.padding-bottom050 { padding-bottom: 0.5rem; }

.padding075 { padding: 0.75rem; }
.padding-top075 { padding-top: 0.75rem; }
.padding-left075 { padding-left: 0.75rem; }
.padding-right075 { padding-right: 0.75rem; }
.padding-bottom075 { padding-bottom: 0.75rem; }

.padding1 { padding: 1rem; }
.padding-top1 { padding-top: 1rem; }
.padding-left1 { padding-left: 1rem; }
.padding-right1 { padding-right: 1rem; }
.padding-bottom1 { padding-bottom: 1rem; }

.padding2 { padding: 2rem; }
.padding-top2 { padding-top: 2rem; }
.padding-left2 { padding-left: 2rem; }
.padding-right2 { padding-right: 2rem; }
.padding-bottom2 { padding-bottom: 2rem; }

.padding3 { padding: 3rem; }
.padding-top3 { padding-top: 3rem; }
.padding-left3 { padding-left: 3rem; }
.padding-right3 { padding-right: 3rem; }
.padding-bottom3 { padding-bottom: 3rem; }

.padding4 { padding: 4rem; }
.padding-top4 { padding-top: 4rem; }
.padding-left4 { padding-left: 4rem; }
.padding-right4 { padding-right: 4rem; }
.padding-bottom4 { padding-bottom: 4rem; }

.padding5 { padding: 5rem; }
.padding-top5 { padding-top: 5rem; }
.padding-left5 { padding-left: 5rem;}
.padding-right5 { padding-right: 5rem; }
.padding-bottom5 { padding-bottom: 5rem; }

.padding6 { padding: 6rem; }
.padding-top6 { padding-top: 6rem; }
.padding-left6 { padding-left: 6rem; }
.padding-right6 { padding-right: 6rem; }
.padding-bottom6 { padding-bottom: 6rem; }

/* Text Alignment */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* Font Styles */
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

/* Letter-Spacing */
.letter-spacing015 { letter-spacing: 0.15px; }
.letter-spacing025 { letter-spacing: 0.25px; }
.letter-spacing050 { letter-spacing: 0.50px; }
.letter-spacing075 { letter-spacing: 0.75px; }
.letter-spacing100 { letter-spacing: 1px; }

/* Links */
.text-decoration-none { text-decoration: none; }
.text-decoration-underline { text-decoration: underline; }
.text-decoration-overline { text-decoration: overline; }

/* Flexbox */
.flex-row { display: flex; flex: 1 1 auto; flex-direction: row; }
.flex-column { display: flex; flex: 1 1 auto; flex-direction: column; }
.flex-row-wrap {  display: flex; flex: 1 1 auto; flex-direction: row; flex-wrap: wrap; }
.flex-column-wrap { display: flex; flex: 1 1 auto; flex-direction: column; flex-wrap: wrap; }

/* Justify Flexbox Content */
.justify-content-fs { justify-content: flex-start; }
.justify-content-fe { justify-content: flex-end; }
.justify-content-c { justify-content: center; }
.justify-content-sa { justify-content: space-around; }
.justify-content-sb { justify-content: space-between; }
.justify-content-se { justify-content: space-evenly; } /* Try to use space-around instead, doesn't look like it's supported in edge. */

/* Align Flexbox Itrems */
.align-itrems-fs { align-itrems: flex-start; }
.align-itrems-fe { align-itrems: flex-end; }
.align-itrems-c { align-itrems: center; }
.align-itrems-b { align-itrems: baseline; }
.align-itrems-s { align-itrems: stretch; }

/* Flex Elrement Grow */
.flex-grow0 { flex-grow: 0; }
.flex-grow1 { flex-grow: 1; }
.flex-grow2 { flex-grow: 2; }
.flex-grow3 { flex-grow: 3; }

/* Flex Grid */
.grid03 { width: 3%; flex-basis: 3%; }
.grid05 { width: 5%; flex-basis: 5%; }
.grid10 { width: 10%; flex-basis: 10%; }
.grid15 { width: 15%; flex-basis: 15%; }
.grid20 { width: 20%; flex-basis: 20%; }
.grid25 { width: 25%; flex-basis: 25%; }
.grid30 { width: 30%; flex-basis: 30%; }
.grid33 { width: 33.3%; flex-basis: 33.3%; }
.grid35 { width: 35%; flex-basis: 35%; }
.grid40 { width: 40%; flex-basis: 40%; }
.grid45 { width: 45%; flex-basis: 45%; }
.grid50 { width: 50%; flex-basis: 50%; }
.grid55 { width: 55%; flex-basis: 55%; }
.grid60 { width: 60%; flex-basis: 60%; }
.grid65 { width: 65%; flex-basis: 65%; }
.grid70 { width: 70%; flex-basis: 70%; }
.grid75 { width: 75%; flex-basis: 75%; }
.grid80 { width: 80%; flex-basis: 80%; }
.grid85 { width: 85%; flex-basis: 85%; }
.grid90 { width: 90%; flex-basis: 90%; }
.grid95 { width: 95%; flex-basis: 95%; }
.grid100 { width: 100%; flex-basis: 100%; }

/* Borders */
.no-borders { border: 0px; }

/* Borders for testing */
.borders-testing1 { border: 1px solid purple; }
.borders-testing2 { border: 2px solid purple; }
.borders-testing3 { border: 3px solid purple; }
.borders-testing4 { border: 4px solid purple; }
.borders-testing5 { border: 4px solid purple; }

/* Fancy border radius bubble y'all */
.border-radius5 { border-radius: 5px; }
.border-radius10 { border-radius: 10px; }
.border-radius15 { border-radius: 15px; }
.border-radius20 { border-radius: 20px; }

/* Image Width */
.img05 { width: 5%; }
.img07 { width: 7%; }
.img10 { width: 10%; }
.img15 { width: 15%; }
.img25 { width: 25%; }
.img30 { width: 30%; }
.img33 { width: 33%; }
.img35 { width: 35%; }
.img40 { width: 40%; }
.img45 { width: 45%; }
.img50 { width: 50%; }
.img60 { width: 60%; }
.img65 { width: 65%; }
.img75 { width: 75%; }
.img80 { width: 80%; }
.img85 { width: 85%; }
.img100 { width: 100%; }